# Load dataset

In [4]:
from pathlib import Path
!pip install numpy
import numpy as np
!pip install pandas
import pandas as pd
!pip install plotly
import plotly.express as px

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\program files\python310\lib\site-packages (1.22.0)

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\program files\python310\lib\site-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\michi\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\program files\python310\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.21.0 in c:\program files\python310\lib\site-packages (from pandas) (1.22.0)
Requirement already satisfied: six>=1.5 in c:\users\michi\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: plotly in c:\users\michi\appdata\roaming\python\python310\site-packages (5.18.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\michi\appdata\roaming\python\python310\site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in c:\program files\python310\lib\site-packages (from plotly) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\program files\python310\lib\site-packages (from packaging->plotly) (3.0.7)

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
df=pd.read_csv("annotations_metadata.csv")
df= df[df['label'] != "idk/skip"] # mostly unrelated garbage (chinese text, non-sentences)
df= df[df['label'] != "relation"] 
df["hate"] = df["label"].map({'noHate': False, 'hate': True})
df=df.drop(columns=['label'])
df

          file_id  user_id  subforum_id  num_contexts   hate
0      12834217_1   572066         1346             0  False
1      12834217_2   572066         1346             0  False
2      12834217_3   572066         1346             0  False
3      12834217_4   572066         1346             0   True
4      12834217_5   572066         1346             0  False
...           ...      ...          ...           ...    ...
10939  33676864_5   734541         1388             0  False
10940  33677019_1   735154         1388             0  False
10941  33677019_2   735154         1388             0  False
10942  33677053_1   572266         1388             0   True
10943  33677053_2   572266         1388             0  False

[10703 rows x 5 columns]

In [7]:
from pathlib import Path
BASE_PATH = Path().parent.absolute()
def retrieve_text(file_id:str):
    filename=file_id+".txt"
    with open(BASE_PATH / "all_files"/filename, encoding='utf-8') as f:
        return f.read()
def is_train(file_id:str):
    filename=file_id+".txt"
    return (BASE_PATH /"sampled_train"/filename).exists()
def is_test(file_id:str):
    filename=file_id+".txt"
    return (BASE_PATH /"sampled_test"/filename).exists()

df["text"] = df["file_id"].apply(retrieve_text)
df["train"] = df["file_id"].apply(is_train)
df["test"] = df["file_id"].apply(is_test)

In [8]:
df

,file_id,user_id,subforum_id,num_contexts,hate,text,train,test
0,12834217_1,572066,1346,0,False,"As of March 13th , 2014 , the booklet had been...",False,False
1,12834217_2,572066,1346,0,False,In order to help increase the booklets downloa...,True,False
2,12834217_3,572066,1346,0,False,( Simply copy and paste the following text int...,False,False
3,12834217_4,572066,1346,0,True,Click below for a FREE download of a colorfull...,True,False
4,12834217_5,572066,1346,0,False,Click on the `` DOWNLOAD ( 7.42 MB ) '' green ...,False,False
...,...,...,...,...,...,...,...,...
10939,33676864_5,734541,1388,0,False,"Billy - `` That guy would n't leave me alone ,...",False,False
10940,33677019_1,735154,1388,0,False,Wish we at least had a Marine Le Pen to vote f...,False,False
10941,33677019_2,735154,1388,0,False,Its like the choices are white genocide candid...,False,False
10942,33677053_1,572266,1388,0,True,Why White people used to say that sex was a si...,True,False
10943,33677053_2,572266,1388,0,False,Now I get it !,False,True

In [9]:
df_grouped = df.groupby(["user_id"]).size().reset_index(name='Count')

In [ ]:
## Dump
df.to_csv("all_data.csv")