# Load dataset

In [40]:
from pathlib import Path
!pip install numpy
import numpy as np
!pip install pandas
import pandas as pd
!pip install plotly
import plotly.express as px

Requirement already satisfied: numpy in ./venv/lib/python3.11/site-packages (1.26.3)
Requirement already satisfied: pandas in ./venv/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in ./venv/lib/python3.11/site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in ./venv/lib/python3.11/site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f06318597d0>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution')': /simple/plotly/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f063185a550>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution')': /simple/plotly/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f063185aa10>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution')': /simple/plotly/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f063185b490>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution')': /simple/plotly/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f063184c250>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution')': /simple/plotly/
Collecting plotly
  Downloading plotly-5.18.0-py3-none-any.whl.metadata (7.0 kB)
Collecting tenacity>=6.2.0 (from plotly)
  Downloading tenacity-8.2.3-py3-none-any.whl.metadata (1.0 kB)
Requirement already satisfied: packaging in ./venv/lib/python3.11/site-packages (from plotly) (23.2)
Downloading plotly-5.18.0-py3-none-any.whl (15.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.6/15.6 MB 9.1 MB/s eta 0:00:0000:0100:01
Downloading tenacity-8.2.3-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.18.0 tenacity-8.2.3

In [35]:
df=pd.read_csv("annotations_metadata.csv")
df= df[df['label'] != "idk/skip"] # mostly unrelated garbage (chinese text, non-sentences)
df= df[df['label'] != "relation"] 
df["hate"] = df["label"].map({'noHate': False, 'hate': True})
df=df.drop(columns=['label'])
df

          file_id  user_id  subforum_id  num_contexts   hate
0      12834217_1   572066         1346             0  False
1      12834217_2   572066         1346             0  False
2      12834217_3   572066         1346             0  False
3      12834217_4   572066         1346             0   True
4      12834217_5   572066         1346             0  False
...           ...      ...          ...           ...    ...
10939  33676864_5   734541         1388             0  False
10940  33677019_1   735154         1388             0  False
10941  33677019_2   735154         1388             0  False
10942  33677053_1   572266         1388             0   True
10943  33677053_2   572266         1388             0  False

[10703 rows x 5 columns]

In [36]:
from pathlib import Path
BASE_PATH = Path().parent.absolute()
def retrieve_text(file_id:str):
    filename=file_id+".txt"
    with open(BASE_PATH / "all_files"/filename) as f:
        return f.read()
def is_train(file_id:str):
    filename=file_id+".txt"
    return (BASE_PATH /"sampled_train"/filename).exists()
def is_test(file_id:str):
    filename=file_id+".txt"
    return (BASE_PATH /"sampled_test"/filename).exists()

df["text"] = df["file_id"].apply(retrieve_text)
df["train"] = df["file_id"].apply(is_train)
df["test"] = df["file_id"].apply(is_test)

In [38]:
df

,file_id,user_id,subforum_id,num_contexts,hate,text,train,test
0,12834217_1,572066,1346,0,False,"As of March 13th , 2014 , the booklet had been...",False,False
1,12834217_2,572066,1346,0,False,In order to help increase the booklets downloa...,True,False
2,12834217_3,572066,1346,0,False,( Simply copy and paste the following text int...,False,False
3,12834217_4,572066,1346,0,True,Click below for a FREE download of a colorfull...,True,False
4,12834217_5,572066,1346,0,False,Click on the `` DOWNLOAD ( 7.42 MB ) '' green ...,False,False
...,...,...,...,...,...,...,...,...
10939,33676864_5,734541,1388,0,False,"Billy - `` That guy would n't leave me alone ,...",False,False
10940,33677019_1,735154,1388,0,False,Wish we at least had a Marine Le Pen to vote f...,False,False
10941,33677019_2,735154,1388,0,False,Its like the choices are white genocide candid...,False,False
10942,33677053_1,572266,1388,0,True,Why White people used to say that sex was a si...,True,False
10943,33677053_2,572266,1388,0,False,Now I get it !,False,True

In [44]:
df_grouped = df.groupby(["user_id"]).size().reset_index(name='Count')

      user_id   hate  Count
0      572033  False      3
1      572033   True      1
2      572036  False      1
3      572037   True      3
4      572041  False      2
...       ...    ...    ...
3353   760015  False      1
3354   775309  False      1
3355   775309   True      1
3356   790048  False      3
3357   796449  False      3

[3358 rows x 3 columns]